<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Тест</title>
</head>

<body>
    <div>
        <h1>Приветствуем на прохождении теста</h1>
        <h2>Ответьте на несколько вопросов и получите ответ!</h2>
        <a class="start_button" href="./test">Начать тест!</a>
    </div>
</body>
</html>
