body {
    background-color: cornflowerblue;
}

h1 {
    margin: 0;
}

fieldset {
    margin-right: 1000px;
}

.start_button, .button-enter {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(138 219 207 / 100%);
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
}
